footer{
    background-color:var(--footer-color);
    height: fit-content;
    padding: 2.5em 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    margin-top: 50px;
}

footer .icons .icon{
    margin-right: 0.7em;
    cursor: pointer;
}

footer a{
    text-decoration: none;
}