<footer>
    <div class="icons">
        <i class="fa-brands icon fa-facebook fa-xl"></i>
        <i class="fa-brands icon fa-square-instagram fa-xl"></i>
        <i class="fa-brands icon fa-linkedin fa-xl"></i>
    </div>
    <h3>@VillaBazar Private Limited</h3>
    <a href="#">Privacy Terms</a>
</footer>